{% extends 'main/layout.html' %}

{% block title %}Online-уроки{% endblock %}

{% block content %}
    <h1>Уроки по логарифмам</h1>
<div id="pom">
    <div class="pm"><a href="https://coreapp.ai/app/player/lesson/65c5d5c8ed48f84a917605d7">Урок №1. Повторение свойств степеней.</a></div>
    <div class="pm"><a href="https://coreapp.ai/app/player/lesson/65c5d45aed48f84a91760579">Урок №2. Что такое логарифм?</a></div>
    <div class="pm"><a href="https://coreapp.ai/app/player/lesson/65cb7925fac108b5278e9528">Урок №3. Свойства логарифмов.</a></div>
    <div class="pm"><a href="https://coreapp.ai/app/player/lesson/65cb8653fac108b5278e95ed">Урок №4. Свойства логарифмов.</a></div>
    <div class="pm"><a href="https://coreapp.ai/app/player/lesson/65d7bfe6c011e7074de48156">Урок №5. Закрепление.</a></div>
</div>
{% endblock %}